<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
    <link rel="stylesheet" href="{%static 'stile/stile.css'%}">
</head>
<body>
    <h1>{{juego}}</h1>
    <img src="{%static 'img/'%}{{foto}}"class="img">
        <p>Descripcion: {{Descripcion}}</p>
        <p>Valoracion: {{Valoracion}}</p>
    </div>
    <button onclick="location.href='http://127.0.0.1:8000/'">volver</button>
</body>
</html>